body{
background-color: #ff9d2b;
height:420px;
width:340px;
}

.form{
margin:40px;
font-family: "Monospace";
font-size:20px;
justify-content: "center";

}

.input{
font-size:5px;
height:20px;

}

.button{
background-color:#5000ff;
color:#ffeaff;
border-radius:8px;
margin-left:50px;
}

.result{
color:#fff;
font-weight:30px;
font-size:20px;
margin:40px;
}

label{
color:#fff;
}